html {
  font-size: 8px;
  font-family: Helvetica;
}

/* Header */

.headercontainer {
  background-color: hsl(0, 100%, 100%);
  top: 0;
  display: inline-block;
  height: 8rem;
  width: 100%;
}

@media only screen and (min-width: 481px) {
  .mobileicon {
    display: none;
  }
}

.logo {
  float: left;
  margin-left: 3rem;
  display: flex;
  vertical-align: baseline;
}

.logoimg {
  height: 8rem;
  position: relative;
  top: 0.5rem;
}

.logo h1 {
  font-family: "Open Sans", serif;
  font-size: 3rem;
  color: hsl(0, 0%, 0.85%);
  position: relative;
  bottom: 0.5rem;
}

#bold {
  font-weight: 700;
}

#light {
  font-weight: 300;
}

.menu {
  float: right;
  display: flex;
  padding-right: 3rem;
  height: 8rem;
}

p {
  font-family: "Open Sans", serif;
  font-weight: 300;
  font-size: 2rem;
  text-align: center;
  margin-left: 2rem;
}

.header .p {
  text-align: left;
  margin-right: 24px:
}

@media only screen and (max-width: 480px) {
  .headercontainer {
    background-color: hsl(0, 100%, 100%);
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8rem;
    width: 100%;
  }

.mobileicon {
  height: 4rem;
}

  .logo {
    display: none;
  }

  .logoimg {
   display: none;
  }

  .logo h1 {
  display: none;
  }

  #bold {
   display: none;
  }

  #light {
   display: none;
  }

  .menu {
    display: none;
  }

  p {
    display: none;
  }

  .header .p {
    display: none;
  }
}

/* Banner */


.banner {
  display: flex;
  background-color: hsl(0, 0%, 85%);
}

.left {
  width: 60%;
  margin: 4rem 3rem 0rem 3rem;
}

.leftimage {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

@media only screen and (min-width: 481px) {
  .leftimagemobile {
    display: none;
  }
}

.banner .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: hsl(0, 0%, 85%);
  margin-bottom: 0rem;
}

.righttext {
  width: 75%;
}

.righttext h2,
h3 {
  font-family: "Open Sans", serif;
  color: hsl(0, 0%, 25%);
}

.righttext h2 {
  font-size: 5rem;
  font-weight: 700;
}
.righttext h3 {
  font-size: 2.5rem;
  font-weight: 400;
}

.button {
  background-color: hsl(0, 0%, 30%);
  width: 85%;
  transition: background-color 0.1s ease-in 0s;
}

.button:hover {
  background-color: hsl(0, 0%, 50%);
  width: 85%;
}

.button h3 {
  font-weight: 300;
  color: hsl(0, 100%, 100%);
  padding: 1rem 5rem 1rem 5rem;
  text-align: center;
}

@media only screen and (max-width: 480px) {
  .banner {
    display: block;
    background-color: hsl(0, 0%, 85%);
  }

  .left {
    background-image: url("resources/capstone_colmar_assets/images/banner.jpg")
    width: 0%;
    margin: 0rem 0rem 4rem 0rem;
    overflow: hidden;
  }

.leftimagemobile {
  width: 100%;
  height: auto;
  overflow: hidden;
}

  .leftimage {
    display: none;
  }

  .banner .right {
    display: block;
    background-color: hsl(0, 0%, 85%);
    width: 100%;
    overflow: hidden;
  }

  .righttext {
    width: 100%;
    overflow: hidden;
  }

  .righttext h2,
  h3 {
    font-family: "Open Sans", serif;
    color: hsl(0, 0%, 25%);
  }

  .righttext h2 {
    font-size: 3rem;
    font-weight: 700;
    margin: 0rem 0rem 4rem 2rem;
  }

  .righttext h3 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 3rem;
    margin-left: 2rem;
  }

  .button {
    background-color: hsl(0, 0%, 50%);
    margin-bottom: 4rem;
    width: 85%;
  }

  .button:hover {
    background-color: hsl(0, 0%, 50%);
    width: 85%;
  }

  .button h3 {
    font-weight: 300;
    color: hsl(0, 100%, 100%);
    padding: 1rem 5rem 1rem 5rem;
    text-align: center;
  }
}

/* Information */
.information {
  display: flex;
  background-color: hsl(0, 100%, 100%);
}

.left {
  width: 60%;
  margin: 4rem 3rem 0rem 3rem;
}

.leftimage {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.left h2,
h4,
h5 {
  font-family: "Open Sans", serif;
  color: hsl(0, 0%, 25%);
}

.left h2 {
  font-weight: 700;
  font-size: 4rem;
}

.left h4 {
  font-weight: 300;
  font-size: 2rem;
}

.left h5 {
  font-weight: 300;
  font-size: 1.5rem;
  margin-bottom: 4rem;
}

.right {
  background-color: hsl(0, 100%, 100%);
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 2rem;
  padding-top: 2rem;
  border-left: hsl(0, 0%, 85%) solid 0.5rem;
}

.box {
  display: flex;
  vertical-align: middle;
}

.box:hover {
  background-color: hsl(0, 0%, 85%);
  transition: background-color 0.1s ease-in 0s;
}

.image {
  width: 35%;
  height: auto;
  margin: 2rem;
}

.boximage {
  width: 100%;
  height: auto;
}

.text {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text h2,
h5 {
  font-family: "Open Sans", serif;
  color: hsl(0, 0%, 25%);
}

.text h2 {
  color: hsl(0, 0%, 15%);
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 0rem;
}

.text h4 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 300;
  margin: 1rem;
}

.link {
  font-size: 2rem;
  color: hsl(210, 100%, 60%);
  font-weight: 300;
}

@media only screen and (max-width: 480px) {
  .information {
    display: flex;
    background-color: hsl(0, 100%, 100%);
    border-top: hsl(0, 0%, 85%) solid 0.1rem;
  }

  .left {
    display: none;
  }

  .right {
    background-color: hsl(0, 100%, 100%);
    display: block;
    width: 100%;
    margin: 2rem;
    border-left: 0;
  }

  .box {
    display: block;
    width: 100%
  }

  .box:hover {
    background-color: hsl(0, 100%, 100%);
    width: 100%
  }

  .image {
    width: 100%;
    height: auto;
    margin: 2rem;
  }

  .boximage {
    width: 100%;
    height: auto;
  }

  .text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .text h2,
  h5 {
    font-family: "Open Sans", serif;
    color: hsl(0, 0%, 25%);
  }

  .text h2 {
    color: hsl(0, 0%, 15%);
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 0rem;
  }

  .text h4 {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 300;
    margin: 1rem;
  }

  .link {
    font-size: 2rem;
    color: 	hsl(210, 100%, 60%);
    font-weight: 300;
  }
}

/* Courses */

.courses {
  background-color: hsl(0, 0%, 85%);
  width: 100%;
}

.courses h2,
h1,
h4 {
  font-family: "Open Sans", serif;
  color: hsl(0, 0%, 15%);
}

.courses h1 {
  font-weight: 700;
  font-size: 4rem;
  padding-top: 4rem;
  margin-bottom: 4rem;
  text-align: center;
}

.courseboxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0rem 5rem 4rem 9rem;
}

.courseboxsmall {
  background-color: hsl(0, 100%, 100%);
  width: 30%;
  margin-right: 4rem;
  margin-bottom: 4rem;
}

.courseimage {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.courseboxsmall h2 {
  font-weight: 400;
  font-size: 3rem;
  margin-left: 2rem;
}

.courseboxsmall h4 {
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 3rem;
  margin-left: 2rem;
}

.course h4 {
  font-weight: 300;
  font-size: 2rem;
  margin: 1rem 0rem 2rem 2rem;
}

@media only screen and (max-width: 480px) {
  .courses {
    background-color: hsl(0, 100%, 100%);
    width: 100%;
    padding-bottom: 3rem;
    border-top: hsl(0, 0%, 85%) solid 0.1rem;
    border-bottom: hsl(0, 0%, 85%) solid 0.1rem;
  }

  .courses h2,
  h1,
  h4 {
    font-family: "Open Sans", serif;
    color: hsl(0, 0%, 15%);
  }

  .courses h1 {
    font-weight: 700;
    font-size: 4rem;
    padding-top: 0;
    margin-bottom: 2rem;
    text-align: center;
  }

  .courseboxes {
    display: block;
    margin: 0rem;
  }

  .courseboxsmall {
    background-color: hsl(0, 0%, 85%);
    width: 100%;
    margin-right: 4rem;
    margin-bottom: 1rem;
  }

  .courseimage {
    display: none;
  }

  .courseboxsmall h2 {
    font-weight: 400;
    font-size: 2.5rem;
    margin-left: 2rem;
    padding: 2rem 0rem 3rem 2rem;
  }

  .courseboxsmall h4 {
    display: none;
  }

  .course h4 {
    display: none;
  }
}

/* Thesis */

.thesistitle {
  margin: 0;
}

.thesistitle h1 {
  font-weight: 700;
  font-size: 4rem;
  margin: 4rem 0rem 4rem 0rem;
  text-align: center;
}

.thesis {
  display: flex;
  background-color: hsl(0, 100%, 100%);
  height: 100rem;
}

.left {
  width: 60%;
  margin: 0rem 3rem 0rem 3rem;
}

.leftvideo {
  width: 100%;
  margin-bottom: 3rem;
  overflow: hidden;
}

video {
  width: 100%;
  height: auto;
}

.thesis .left {
  font-weight: 400;
  font-size: 4rem;
}

.right1 {
  background-color: hsl(0, 100%, 100%);
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 2rem;
  padding-top: 0.25rem;
}

.image {
  width: 35%;
  height: auto;
  margin: 2rem;
}

.boximage {
  width: 100%;
  height: auto;
}

.text {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.diff {
  font-weight: 400;
}

/* copyright */

 .copyright {
   padding-bottom: 3rem;
   border-top: hsl(0, 0%, 85%) solid 0.1rem;
 }

.copyright h4 {
  font-family: "Open Sans", serif;
  font-size: 1.5rem;
  font-weight: 300;
  float: left;
  margin-left: 3rem;
}

.copyright h5 {
  font-family: "Open Sans", serif;
  font-size: 1.5rem;
  font-weight: 300;
  float: right;
  margin-right: 3rem;
}
